p {
    background: red;
    font-family: pingfang;
}

.text {
    background: blue;
    color: red;
}

@font-face{
    font-family: 'pingfang';  /*给自定义字体命名*/
    src:url('./Ac.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
  }